# .env.example
DEEPSEEK_API_KEY=
TAVILY_API_KEY=
TAVILY_API_KEYS=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

MINERU_ONLINE_API_KEY=
RAG_VL_URL=
RAG_VL_API_KEY=
RAG_VL_MODEL=

RAGFLOW_API_BASE=

# ========================================
# Workspace Configuration (通用工作路径配置)
# ========================================
# 使用相对路径还是 base_url 模式返回图表图片 URL
# - relative: 直接返回图片相对路径，适合本地命令行，如：/deepinsight/charts/image/chart_123.png
# - base_url: 拼接 base_url，适合api模式，如：http://127.0.0.1:8888/api/v1/deepinsight/charts/image/chart_123.png
WORKSPACE_IMAGE_PATH_MODE="relative"

# 图表图片的 base URL（当 image_path_mode 为 base_url 时使用）
# WORKSPACE_IMAGE_BASE_URL="http://127.0.0.1:8888/api/v1/deepinsight/charts/image"

# 在 Markdown 中由 DeepInsight 生成的图片等超链接资源使用的 uri 前缀
# - 对于本地运行模式，总是保持 ../../
# - 对于使用 S3 兼容的 OBS 且允许匿名 GET 请求，可以将其设置为 OBS 服务相对浏览器的地址
# - 由于 file_storage.remote_access 未启用，当前暂不支持使用本地存储且需要由 http 访问的场景
# 其他可选值示例：
#   - "http://127.0.0.1:8888/api/v1/deepinsight/res/" (浏览器使用自定义转发服务时)
#   - "http://127.0.0.1:9000/" (浏览器直接访问OBS时)
WORKSPACE_RESOURCE_BASE_URI="../../"


# ========================================
# File Storage Configuration (文件存储配置)
# ========================================

# DeepInsight 产生的二进制文件存储位置。默认值: local
# 可选: local / s3
# - local: 存储到此计算机上的工作区根目录中
# - s3: 存储到指定的 AWS S3 兼容的 OBS 服务
STORAGE_TYPE=
# required when STORAGE_TYPE is s3
S3_ENDPOINT=
S3_AK=
S3_SK=

# ----------------------------------------
# File Map Rule (文件映射规则配置)
# ----------------------------------------
# 当 DeepInsight 与其他框架协同工作且共用存储服务，建议设置这些环境变量以防意外覆盖。
# 每种文件用途 X 均支持设置以下三个环境变量：
# X_BUCKET: 如何映射到存储桶
# X_OBJECT: 如何映射到对象名称
# X_URI:    如何生成为URL或URI后缀。默认为 X_BUCKET/X_URI 进行拼接
#           URI在生成后通常会拼接上其他前缀，比如 WORKSPACE_RESOURCE_BASE_URI
# 映射规则使用 Python 字符串格式化样式。
# 每种文件类型可使用的变量不完全一致，注释中的 available 会说明该映射可用的变量 (为空则表示只能为常量字符串)。
# 举例：
# 若设置 DEEPINSIGHT_OBS_KB_DOC_IMG_BUCKET=my-kb-{kb_id}
# 则对于 ID 为 1008 的知识库，该知识库解析过程中产生的所有图片都将存储到名称为 "my-kb-1008" 的桶中

# for knowledge base document images storage
# (directory only, path for every image is DEEPINSIGHT_OBS_KB_DOC_IMG_OBJECT/img_path)
# WARNING: 如果该bucket不存在，自动创建时将会同时将其设置为允许匿名读
# default: rag_storage                       available: kb_id
# recommend for OBS: deepinsight
DEEPINSIGHT_OBS_KB_DOC_IMG_BUCKET=
# WARNING: 使用 HTTP API 访问解析服务时, doc_id 的值为请求中的文件名
# default: {kb_id}/{doc_id}/                       available: kb_id, doc_id
# recommend for OBS: parsed-doc-imgs/{kb_id}/{doc_id}/
DEEPINSIGHT_OBS_KB_DOC_IMG_OBJECT=

# for knowledge base original file storage
# default: original_files                       available: kb_id, owner_type, owner_id
# recommend for OBS: deepinsight
DEEPINSIGHT_OBS_KB_DOC_BINARY_BUCKET=
# default: {owner_type}/{owner_id}/{doc_name}   available: kb_id, owner_type, owner_id, doc_id, doc_name
# recommend for OBS: kb/original_files/{kb_id}/{doc_id}/{doc_name}
DEEPINSIGHT_OBS_KB_DOC_BINARY_OBJECT=

# for report charts storage
# default: charts       available:
# recommend for OBS: deepinsight
DEEPINSIGHT_OBS_REPORT_IMG_BUCKET=
# default: {img_path}   available: img_path
# recommend for OBS: charts/report/{img_path}
DEEPINSIGHT_OBS_REPORT_IMG_OBJECT=
